@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #fff;
}

.box-top-header {
    position: fixed;
    z-index: 6;
    width: 100%;
    margin: 0px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.box-top-header.scrolled {
    margin: 0;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo */
.box-logo .logo {
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 8px;
}

/* Links de navegação */
.box-links {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 20px;
}

.link-header {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.link-header:hover {
    color: #777777;
}

#btn-contact {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #a9872a;
    padding: 7px;
    width: 130px;
    border-radius: 50px;
    background-color: transparent;
    border: 1.5px solid #a9872a;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;

}

#btn-contact:hover {
    background-color: #a9872a;
    color: #ffffff;
}

/* Banner principal */
#banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Transição inferior do banner */
#banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f5f5f5 100%);
    z-index: 4;
    pointer-events: none;
}

/* Vídeo e máscara */
.video-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.video-container .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

/* Conteúdo sobreposto ao vídeo */
.banner-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    color: white;
    top: 180px;
    left: 80px;
}

.title {
    font-size: 80px;
}

.title-custom {
    margin-top: -65px;
    margin-left: 40px;
    font-size: 73px;
    font-family: "Satisfy", cursive;
    font-weight: 500;
    color: #a9872a;
    text-shadow: 2px 2px 2px rgba(39, 39, 39, 0.9);
}

.subtitle {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    list-style: none;
}

.subtitle li {
    font-size: 13px;
    display: flex;
    justify-content: center;
    border: 1px solid #a9872a;
    background-color: #a9872a;
    border-radius: 50px;
    padding: 3px;
    width: 80px;
}

.description {
    font-family: "Montserrat", sans-serif;
    max-width: 460px;
}

.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 150px;
    padding: 10px;
    border: 1px solid #a9872a;
    background: none;
    color: #a9872a;
    border-radius: 50px;
    transition: 0.5s;
    font-size: 17px;
}

.see-more:hover {
    background: #a9872a;
    color: #ffffff;
}

#carouselExample {
    width: 550px;
    /* largura desejada */
    height: 300px;
    /* altura desejada */
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(8px 5px 1px rgba(0, 0, 0, 0.5));

    /* mantém a imagem inteira sem cortar */
}

.img-background {
    position: absolute;
    width: 450px;
    top: 270%;
    right: 83%;
    /* metade do tamanho negativo → metade fora da tela */
    pointer-events: none;
    /* ignora cliques */
    opacity: 0.1;
    /* se quiser mais leve/visível */
    z-index: -1;
}

.topic {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #2f2f2f;
    margin: 30px 5px 20px 5px;
}

.box-card {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.card {
    width: 230px;
    height: 200px;
    background-color: #a9872a;
    margin: 20px 40px 20px 40px;
}

.card-img {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.card-img img {
    width: 225px;
    border-radius: 3px;
}

.card-description {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
}

.emoji {
    position: absolute;
    top: 125px;
    left: 90px;
    width: 40px;
    height: 40px;
    background: #ffffff;
    z-index: 5;
    border-radius: 50px;
}

.emoji-img {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.box-about-we {
    display: flex;
    align-items: center;
    margin: 15px 10px 60px 10px;
    justify-content: center;
    gap: 40px;
}

.about-we-content {
    max-width: 430px;
    margin-top: 10px;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.icon-social-media {
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    font-size: 22px;
    transition: 0.5s;
    cursor: pointer;
}

.icon-social-media:hover {
    background: #000;
    color: #ffffff;
}

.custom-btn {
    border: none;
    background-color: transparent;
}

.card-price {
    width: 255px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 4px 4px #949494;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 0px 0px 0px;
    position: relative;
    z-index: 1;
}

.notice {
    display: flex;
    justify-content: center;
}

.notice p {
    margin: 0px 0px 5px 0px;
    font-size: 10px;
    padding: 2px 13px;
    background-color: #9e1111;
    border: 1px solid #9e1111;
    border-end-start-radius: 50px;
    border-end-end-radius: 50px;
    border-start-start-radius: 7px;
    border-start-end-radius: 7px;
    color: #fff;
}

.notice-available p {
    padding: 2px 25px;
    background-color: #1f8614;
    border: 1px solid #1f8614;
}

h4,
.services-list {
    display: flex;
    justify-content: center;
}

.services-list {
    margin-top: 10px;
    margin-left: -25px;
    padding: 10px;
}

.services-list ul li {
    list-style: none;
    font-size: 14px;
}

.ri-checkbox-circle-fill {
    margin-right: 10px;
    color: #0c990c;
}

#box-card-price,
#box-card-price-two {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin: 50px 0px;
}

#box-card-price {
    height: 335px;
}

#box-card-price-two {
    height: 380px;
}

.box-btn-selection {
    margin-top: auto;
}

.btn-selection {
    padding: 10px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border: solid #000000;
    background-color: #000000;
    color: #fff;
    transition: 0.1s;
    font-size: 21px;
}

.btn-selection:active {
    border: solid #a9872a;
    background-color: #a9872a;
    color: #fff;
}

.btn-selection a,
.btn-selection a:hover {
    text-decoration: none;
    color: #fff;
}

.informations {
    background: #a9872a;
}

#carouselExampleIndicators {
    width: 320px;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

#carouselExampleIndicators .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3px;
}

/*

.box-client-all {
    display: flex;
    justify-content: center;
    margin: 10px 0px 60px 0px
}

.card-client {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    box-shadow: 2px 4px 4px #949494;
    padding: 20px;
    margin: 10px;
    gap: 25px;
}

.card-client-img img {
    border-radius: 50px;
    box-shadow: 2px 2px 4px #777777;
}

.card-client-description p {
    margin-bottom: 5px;
}

.client-name {
    color: #969696;
}

*/

.box-contact {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    gap: 30px;
}

.left {
    margin: 10px 0px 10px 10px;
    padding: 10px;
}

.left p {
    max-width: 400px;
}

.right {
    max-width: 400px;
    margin: 10px 0px 10px 10px;
}

span {
    color: #a9872a;
}

iframe {
    display: block;
    margin: 0 auto;
}

.social-media-contact .custom-btn {
    margin: 5px 0px 13px 0px;
}

footer {
    display: flex;
    justify-content: center;
}

.rights-reserved {
    font-size: 16px;
    margin-bottom: 40px;
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: #fff !important;
    }

    .subtitle li {
        border: 1px solid #a9872a !important;
        background-color: #a9872a !important;
    }

}